.table {
    width: 50%;
    margin: 0 auto 5em auto;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 5px;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    border: none;
}