:host {
  width: 100%;
}

.filters {
  padding: 0.5% 0;
  font-size: 0.8em;
  margin: 2% auto 0;
  color: white;
  width: 85%;
  background-color: #4592af;
  border-radius: 4px;
}

#loading {
  width: 20%;
  margin: 5em auto;
}
.alert {
  margin: 3% auto;
}

#loading img {
  width: 4em;
}

.grille {
  width: 85%;
  margin: 1% auto;
  border-radius: 3px;
}
.liste {
  background-color: #e4e3e3;
  padding: 0.5em 0.5em 0.5em 0;
}

.timbreCard {
  background-color: #262c2c;
  color: white;
  border-radius: 4px;
  margin: 0.5em 0 0 0.5em;
}

.epuise {
  background-color: rgb(182, 182, 182);
  height: 5em;
  border-radius: 2px;
  padding-top: 1.6em;
  text-align: center;
  min-width: 4em;
  margin: 0;
}
.timbreImg {
  height: 5em;
  min-width: 4em;
  border-radius: 2px;
  color: rgb(85, 85, 85);
  text-align: center;
}
.cdImg {
  height: 17em;
  border-radius: 2px;
  color: rgb(85, 85, 85);
  text-align: center;
}

.speImg {
  height: 12em;
  border-radius: 2px;
  color: rgb(85, 85, 85);
  text-align: center;
}

button:focus {
  outline: none;
}

.filterBtn {
  background-color: #4492af;
  color: white;
  border-radius: 15px;
  border: 1px solid #3a7d96;
}

.btnActive {
  background-color: #3c7f97;
  border: 1px solid #285768bb;
  -webkit-box-shadow: inset 0px 0px 3px #285768bb;
  -moz-box-shadow: inset 0px 0px 3px #285768bb;
  box-shadow: inset 0px 0px 3px #285768bb;
}
.custom-select {
  width: 70%;
}

.custom-control-input ~ .custom-control-label::before {
  background-color: rgb(173, 173, 173);
}
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgb(138, 194, 85);
  border-color: rgb(138, 194, 85);
}

.custom-control-input ~ .custom-control-label::after {
  background-color: rgb(255, 255, 255);
}
label {
  margin-bottom: 0;
}

#btnGroup2,
#btnGroup3 {
  border-left: 1px rgb(92, 92, 92) solid;
}

#filtreInput {
  font-size: 0.8em;
}
