<!-- FILTERS -->
<div class="filters d-flex align-items-center justify-content-around">
  <div>
    <label for="filtreInput">TRIER PAR: </label>
    <select id="filtreInput" class="custom-select input-sm" [(ngModel)]="sortFilter">
      <option value="NumAsc">NUMÉRO CROISSANT</option>
      <option value="NumDesc">NUMÉRO DÉCROISSANT</option>
      <option value="PriceAsc">PRIX CROISSANT</option>
      <option value="PriceDesc">PRIX DÉCROISSANT</option>
    </select>
  </div>

  <div class="custom-control custom-switch">
    <input [(ngModel)]="dispoFilter" type="checkbox" class="custom-control-input" id="dispoSwitch">
    <label class="custom-control-label" for="dispoSwitch">DISPONIBLE SEULEMENT</label>
  </div>
  <div>
    <label for="etatFiltre"> AFFICHAGE: </label>
    <div id="etatFiltre" class="btn-group btn-group-sm" role="group" aria-label="Basic example">
      <button id="btnGroup1" [ngClass]="{'btnActive': etatFilter === 'all'}" (click)="etatFilter='all'" type="button"
        class="btn btn-secondary">TOUS</button>
      <button id="btnGroup2" [ngClass]="{'btnActive': etatFilter === 'alt'}" (click)="etatFilter='alt'" type="button"
        class="btn btn-secondary">CHARNIÈRES</button>
      <button id="btnGroup3" [ngClass]="{'btnActive': etatFilter === 'sg'}" (click)="etatFilter='sg'" type="button"
        class="btn btn-secondary">SANS GOMME</button>
    </div>
  </div>
</div>

<!-- LOADING GIF -->
<div *ngIf="loading" id="loading">
  <img src="../../../assets/img/loading.gif">
</div>

<!-- TIMBRE LIST -->
<div class="d-flex"
  *ngIf="error!= null && timbreList && timbreList !== null && timbreList.length ==0 || filteredList.length == 0">
  <p class="d-inline-block alert alert-danger">{{error}}</p>
</div>

<div *ngIf="timbreList && timbreList !== null &&timbreList.length > 0" class="grille">
  <div *ngIf="filteredList.length > 0" class="liste d-flex flex-wrap">
    <div [ngClass]="{'low-opacity': timbre.quantiteTimbre ===0}"
      class="p-2 timbreCard d-flex flex-column justify-content-between" *ngFor="let timbre of filteredList">
      <div class="d-flex justify-content-center">
        <p class="mb-0 font-weight-bold" *ngIf="timbre.catTimbre=='tas'">{{timbre.tasType}}</p>
        <p *ngIf="timbre.numeroTimbre !== 0" class="text-center mb-0 font-weight-bold">{{timbre.numeroTimbre}}</p>
        <p class="mb-0" *ngIf="timbre.etatTimbre=='occas'">*</p>
        <p class="mb-0" *ngIf="timbre.etatTimbre=='sg'">SG</p>
        <p class="mb-0" *ngIf="timbre.catTimbre=='cd'">({{timbre.anneeCoinDate}})</p>
        <p class="mb-0" *ngIf="timbre.catTimbre == 'obl' || timbre.catTimbre == 'spe'">{{timbre.optionalInfos}}</p>
      </div>
      <button class="invisible-button" (click)="showDialog(timbre)">
        <div
          [ngClass]="{'timbreImg': timbre.catTimbre != 'cd' && timbre.catTimbre !=='spe', 'cdImg': timbre.catTimbre == 'cd','speImg': timbre.catTimbre == 'spe'}"
          [ngStyle]="{ 'background-image': 'url(' + timbre.imageTimbreUrl + ')'}"
          class="d-flex align-items-stretch img-container mb-0">
          <div *ngIf="timbre.quantiteTimbre == 0" class="sold-out-container d-flex align-items-center">
            <p class="epuise">ÉPUISÉ</p>
          </div>
          <!-- <img
            [ngClass]="{'timbreImg': timbre.catTimbre != 'cd' && timbre.catTimbre !=='spe', 'cdImg': timbre.catTimbre == 'cd','speImg': timbre.catTimbre == 'spe'}"
            src="{{timbre.imageTimbreUrl}}"> -->
        </div>
      </button>

      <p class="text-center mb-0">{{timbre.prixTimbre}}€</p>
    </div>
  </div>
</div>

<p-dialog [dismissableMask]="true" [modal]="true" header="Timbre N°{{selectedTimbre.numeroTimbre}}"
  [(visible)]="display">
  <div class="d-flex justify-content-center">
    <img class="focusedStampImg" src="{{selectedTimbre.imageTimbreUrl}}">
  </div>
  <div class="d-flex justify-content-center" *ngIf="selectedTimbre.quantiteTimbre !==0">
    <button type="button" class="addBasketButton" (click)="addToBasket(selectedTimbre)">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-bag-plus-fill" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z" />
      </svg>
      <span>AJOUTER AU PANIER</span>
    </button>
  </div>
  <div class="text-center" *ngIf="selectedTimbre.quantiteTimbre ===0">Timbre Épuisé</div>
</p-dialog>
