#headerContent {
  background-color: #226089;
}

#headerLogo {
  width: 8em;
  margin: 1em;
}
.widgets {
  margin: 1em 0;
}

.searchBar input {
  border: none;
  font-size: 16px;
  padding: 4px;
  border-radius: 10px;
  background-color: #e2e2e2;
  text-align: left;
}

.searchBtn {
  margin-left: -14%;
  height: 2em;
  border: none;
  border-radius: 0 10px 10px 0;
  color: white;
  background-color: #4592af;
}
.searchBtn svg {
  margin-top: -0.3em;
}

.logoutBtn {
  margin-left: 0.5em;
  border-radius: 20px;
  padding: 0;
  border: 1px solid #dd3444;
  background: #dd3444;
  font-size: 1.3em;
  color: white;
  height: 1.5em;
  width: 1.5em;
}
.logoutBtn svg {
  margin-top: -0.4em;
}
