<div id="headerContent">
  <a href="/">
    <img id="headerLogo" src="../../../assets/img/logo_white.png">
  </a>
  <div class="widgets">
    <div *ngIf="isAuth()" class="authText d-flex font-weight-bold text-light">
      <a (click)="router.navigate(['adminPanel'])" id="welcomeText">Bonjour Papa. :)</a>
      <button class="logoutBtn" (click)="logout()">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z" />
          <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" />
        </svg>
      </button>
    </div>
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchTimbre()">
        <div *ngIf="!location.isCurrentPathEqualTo('/adminPanel')" class="searchBar">
          <input id="searchInput" formControlName="numero_timbre" type="text" placeholder="N° timbre">
          <button class="searchBtn"><svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-search"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
              <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg></button>
        </div>
      </form>
    </div>
  </div>
</div>
