<div id="headerContent" class="d-flex justify-content-between">
  <div class="logo">
    <a routerLink="/">
      <img id="headerLogo" src="../../../assets/img/logo_white.png">
    </a>
  </div>
  <div
    [ngClass]="{'justify-content-between': isAuth() , 'justify-content-end': !isAuth(), 'widthAdjustment' : router.url == '/adminpanel'}"
    class="widgets d-flex flex-column">
    <div id="loginTxt" *ngIf="isAuth()" class="authText d-flex align-self-end font-weight-bold text-light">
      <a routerLink="/adminpanel" id="welcomeText">Bonjour Papa. :)</a>
      <button class="logoutBtn" (click)="logout()">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z" />
          <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" />
        </svg>
      </button>
    </div>
    <div><button class="d-flex" (click)="displayBasket()" id="basket-button" type="button">
        <svg *ngIf="basketItemNumber === 0" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-bag-dash"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />
          <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
        </svg>
        <svg *ngIf="basketItemNumber > 0" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-bag-check"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />
          <path fill-rule="evenodd"
            d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
        </svg>
        <p *ngIf="basketItemNumber === 0">Panier: vide. :(</p>
        <p *ngIf="basketItemNumber === 1">Panier: {{basketItemNumber}} article</p>
        <p *ngIf="basketItemNumber > 1">Panier: {{basketItemNumber}} articles</p>
      </button></div>
    <div id="searchBar">
      <form [formGroup]="searchForm" (ngSubmit)="searchTimbre()">
        <div *ngIf="!location.isCurrentPathEqualTo('/adminpanel')" class="searchBar d-flex">
          <input id="searchInput" formControlName="numero_timbre" type="text" placeholder="N° timbre">
          <button class="searchBtn"><svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-search"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
              <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg></button>
        </div>
      </form>
    </div>
  </div>
</div>
