#headerLogo {
  width: 8em;
  margin: 1em;
}
#headerContent {
  z-index: 3;
  background-color: #226089;
}
#welcomeText {
  margin-top: 0.1rem;
}
.widgets {
  width: 13%;
  position: absolute;
  top: 6.5em;
  right: 1.5em;
}
.searchBar input {
  border: none;
  font-size: 16px;
  padding: 4px;
  border-radius: 10px;
  background-color: #e2e2e2;
  text-align: left;
}
.searchBar input:focus {
  outline: none;
}
.searchBtn {
  position: absolute;
  right: 0em;
  height: 2em;
  border: none;
  border-radius: 0 10px 10px 0;
  color: white;
  background-color: #4592af;
}

.searchBtn svg {
  margin-top: -0.3em;
}

.logoutBtn {
  margin-left: 0.5em;
  border-radius: 20px;
  padding: 0;
  border: 1px solid #dd3444;
  background: #dd3444;
  font-size: 1.3em;
  color: white;
  height: 1.5em;
  width: 1.5em;
}

.logoutBtn svg {
  margin-top: -0.4em;
}

.authText {
  position: absolute;
  top: -6em;
  right: 0rem;
}

/* CSS FOR SAFARI */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .searchBtn {
    top: 0em;
    right: 0em;
  }
  #searchInput {
    width: 11em;
  }
}
