#title {
  color: #1a4968;
  font-family: "Montserrat_bold";
  font-weight: 600;
  margin-bottom: 1em;
}

.container {
  margin: 3rem;
}

#accueilBtn {
  background-color: #4492af;
  color: white;
  border: none;
  margin-top: 2em;
  padding: 0.5em;
}
