:host {
  position: fixed;
  right: 0;
  top: 80%;
}

.arrow-container {
  outline: none;
  margin-right: -4em;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #4592af;
  padding: 1em;
  transition: all 0.5s ease-in-out;
}

.arrow-displayed {
  margin-right: 0;
  display: block;
}
