:host {
  width: 100%;
  margin: auto;
}

.btn-primary {
  width: 100%;
  background-color: #4492af;
  border-color: #4492af;
}
#numeroInput,
#prixInput,
#quantiteInput,
#typeInput,
#aneeCoinDateInput,
#urlInput {
  margin-bottom: 0.5em;
}

.card-header {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  max-width: 40%;
  margin: auto;
  margin-bottom: 2em;
}
.col-4,
.col-6,
.col-8 {
  padding: 0;
}
.qteBtn {
  background-color: #4592af;
  margin: 0 0.5em;
  color: white;
  border-radius: 20px;
  border: none;
  height: 1.3em;
  width: 1.3em;
}

a img {
  height: 2.5em;
}

.qteBtn:disabled {
  background-color: #5f5f5f;
}

.qteBtn:focus {
  outline: none;
}

.qteBtn p {
  margin-top: -0.25rem;
}

/* CSS BTN GRP */
.btn-group .active {
  background-color: #4592af;
  border-color: #2992b9;
}
.btn-group .active:focus {
  box-shadow: none;
}

.form-content {
  width: 100%;
}

#loading {
  width: 5%;
  margin: 5em auto;
}
#loading img {
  width: 100%;
}

.home-button {
  width: 18em;
}

table {
  max-width: 90%;
  margin: auto;
}

.table-input {
  padding: 0 5px;
}
