:host {
  width: 100%;
  margin: auto;
}

.btn-primary {
  width: 100%;
  background-color: #4492af;
  border-color: #4492af;
}
#numeroInput,
#prixInput,
#quantiteInput,
#typeInput,
#aneeCoinDateInput,
#urlInput {
  margin-bottom: 0.5em;
}

.card-header {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 5px;
  max-width: 40%;
  margin: auto;
  margin-bottom: 2em;
}
.col-4,
.col-6,
.col-8 {
  padding: 0;
}
.qteBtn {
  background-color: #4592af;
  margin: 0 0.5em;
  color: white;
  border-radius: 20px;
  border: none;
  height: 1.3em;
  width: 1.3em;
}

button img {
  height: 2.5em;
}

.qteBtn:disabled {
  background-color: #5f5f5f;
}

button:focus {
  outline: none;
}

.qteBtn p {
  margin-top: -0.25rem;
}

/* CSS BTN GRP */
.btn-group .active {
  background-color: #4592af;
  border-color: #2992b9;
}
.btn-group .active:focus {
  box-shadow: none;
}

.form-content {
  width: 100%;
}

#loading {
  width: 5%;
  margin: 5em auto;
}
#loading img {
  width: 100%;
}

.home-button {
  width: 18em;
}

.table-input {
  padding: 0 5px;
}

.table {
  width: 92%;
  margin: 0 auto 5em auto;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 5px;
}
.tHeader {
  padding: 0 !important;
  background-color: rgb(56, 56, 56) !important;
}
.tabHead {
  outline: none;
  color: white !important;
  background-color: rgb(56, 56, 56) !important;
}

td {
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
  padding: 0 !important;
  vertical-align: middle !important;
}

.invisible-button {
  border: none;
  background: none;
}

::ng-deep .p-dialog .p-dialog-header,
::ng-deep .p-dialog .p-dialog-content {
  color: white;
  background: #262c2c;
}

.focusedStampImg {
  max-height: 20rem;
}
