<div class="bloc">
  <div class="title d-flex align-items-center justify-content-center">
    <h4>Présentation du site</h4>
  </div>
  <div class="content">
    <p>Vous trouverez dans ces pages une partie des timbres que je mets en vente.
    <p>
    <p>Les timbres sont vendus <strong>jusqu'à 80 % de remise</strong> sur la côte Yvert et Tellier.</p>

    <p>Les timbres neufs avec gomme altérée, avec charnière ou 2ème choix sont repérés par <strong>*</strong> après le
      numéro du timbre.
    </p>
    <p>Les timbres neufs sans gomme sont repérés par <strong>sg</strong> après le numéro du timbre.</p>

    <p>Pour tout renseignement vous pouvez m'écrire en cliquant sur <a
        href="mailto:jld_philatelie@laposte.net"><strong>écrivez-moi.</strong></a></p>

    <p>Si vous désirez être tenu au courant des mises à jour, veuillez me le demander.</p>

    <p>(si vous constatez une erreur, n'hésitez pas à me la signaler)</p>
  </div>
</div>

<div class="bloc">
  <div class="title d-flex align-items-center justify-content-center">
    <h4>Commande, paiement et livraison</h4>
  </div>
  <div class="content">
    <h5>Commande</h5>
    <p class="mb-4">Pour passer commande, il vous suffit de m'envoyer un mail avec la liste des timbres demandés. Une
      fois la
      vérification de disponibilité des timbres faite de mon côté, je vous envoie un mail avec les détails de la
      commande ainsi que le montant total.</p>

    <h5>Règlement</h5>
    <p class="mb-4">Le réglement s'effectue par chèque. <strong>(affranchissement philatélique réciproque)</strong></p>

    <h5>Frais de ports</h5>
    <p>Pour la France, les frais de port au 01/01/20 sont de 1,90€ (envoi simple), 2,39€ (lettre suivie) ou 5,50€
      (recommandé) à préciser lors de votre commande.</p>
    <p>Je décline toute responsabilité quant à l'envoi en tarif courrier</p>
  </div>
</div>
