.sidebarTitle {
  padding: 0.6em 0;
  background-color: #4592af;
  color: white;
  border-bottom: 1px #4592af solid;
}
:host {
  background-color: #e4e3e3;
  height: 100%;
}
.sidebar {
  width: 18em;
}

.home-btn {
  height: 3em;
  transition: all 0.5s ease-in-out;
}

.hidden-return-home {
  height: 0px;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/*  Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  :host {
    height: 100vh;
  }
  .sidebar {
    width: 10em;
    transition: 1s ease;
  }
  .hidden {
    margin-left: -10em;
    transition: 1s ease;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
